In [1]:
name = "Mahdi"

In [4]:
age = 42

In [5]:
Pi = 3.14

In [6]:
name = "Ali" 
Name = "Hasan" 
print (name, Name)

Ali Hasan

In [7]:
name, age, Pi = "Mahdi", 42, 3.14 
print(name, age, Pi)

Mahdi 42 3.14

In [9]:
dateOfBirth = "1982/09/11"
print (dateOfBirth)

1982/09/11

In [10]:
date_of_birth = "1985/08/19"

In [11]:
date_of_birth

'1985/08/19'

In [3]:
XAUUSD = 2650 
a1 = 43
_name = "MK" 
اسم = "مهدی"
فامیلی = "Sabah"

In [4]:
print(XAUUSD, a1, _name, اسم, فامیلی)

2650 43 MK مهدی Sabah

In [1]:
س = 25
ش = 25
print(س + ش)

50