# Lessen 2
# integer:
متغیرهای int: 
1. عددی هستند
2. اعداد صحیح بوده و بخش اعشاری ندارند
3. می تواند بین اعداد منفی و صفر و مثبت باشد

In [41]:
a = 25 
b = 145
c = -45
d = 12 

a, b, c, d

(25, 145, -45, 12)

# float:
1. عددی هستند
2. عدد اعشاری هستند
وقتی یک متغییر "اینتیجر" را با "فلوت" عملیات ریاضی انجام می دهیم جواب می تواند "فلوت" یا "اینتیجر" باشد

In [42]:
omid = 25 
ali = 3.2
a = 25 
b = 145
c = -45
d = 12 

e = a + b  # integer
f = b - c  # integer
g = a * d  # integer
h = d / a  # float
i = a ** 2 # intrger

pi = 3.14 
x = 2.45
y = -43.55

print (e, f, g, h, i)

print (x / y)         # float

print (pi - (x / y))  # float

print (omid * ali) # intrger
print (d / a)      # float
omid / ali         # float

170 190 300 0.48 625
-0.056257175660160745
3.1962571756601608
80.0
0.48

7.8125


# strings: 
1. از کاراکترهای متنی تشکیل شده اند 
2. از Single Quotes و Double Quotes تشکیل شده است  و در زمان پرینت با single quotes نمایش داده می شود

In [43]:
name = "sabah"
x = 'test1245!$^_=' 

name, x

('sabah', 'test1245!$^_=')

In [44]:
# نمونه های ار نوشتن کدها:
# c = 'a'b'c' falsh غلط است وقتی ما از "سینگل کوتیشن" استفاده میکنیم در داخل آن دیگر نمی توانیم از همان کوتیشن استفاده کنیم:

s = 'a\'b\'c'  #true
z = "a'b'c"    #true

# print
s, z

("a'b'c", "a'b'c")

## 1. len(string):
عملگر "لن" تعداد حروف را می شمارد و طول کاراکتر متنی را می دهد:

In [45]:
a = "Mahdi Karimi Sabah" 
len(a)

18

## 2. concatention in (string)
در عملگر "استرینگ" میتوانیم متن ها و حروف را به هم الحاق کنیم، جمع یا ضرب کنیم

In [46]:
a = "Hello "
b = "ali"
c = a + b # جمع
c

'Hello ali'

In [50]:
a = "*"
b = "A"

c= (b*3)+d # جمع و ضرب با هم 
d = a*5    # ضرب

print(d, c)

***** AAA*****

## 3. upper case (string):
تمامی حروف کوچک را به حروف بزرگ تبدیل می کند

In [52]:
a = "aBcDefGhl"
b = a.upper()

print(b)

ABCDEFGHL

## 4. lower case (string):
تمامی حروف کوچک را به بزرگ تبدیل می کند

In [54]:
c = a.lower()

print(c)

abcdefghl

## 5. strip (string):
این دستور برای حذف کاراکترهای اضافی از ابتدا و انتهای یک رشته استفاده می‌شود. این تابع به‌صورت پیش‌فرض کاراکترهای فاصله را حذف می‌کند، اما می‌توان آن را برای حذف هر کاراکتر مشخص دیگری نیز به کار برد.

In [55]:
text = "   Hello MK   "
result = text.strip() # حذف فاصله

print(result)

Hello MK

In [59]:
text2 = "#$#Hello Mr. MK#$#"
result2 = text2.strip("#$#") # حذف کاراکتر مشخص

print(result2)

Hello Mr. MK

### string formatiing

چهار روش نوشتن استرینگ فورمتینگ

integer  را نمی توان جمع کرد فقط استرین با استرینگ را می توان الحاق کرد

In [10]:
name = "Mahdi"
age = 42 

# print("Hello " + name + " , you are " + age + " yers old?") Falsh

print("Hello %s, you are %d years old?"%(name, age)) # True  %d; int  %s: string  %f: float

print("Hello {}, you are {} years old?".format(name, age))

print(f"Hello {name}, you are {age} years old?") # Good

Hello Mahdi, you are 42 years old?
Hello Mahdi, you are 42 years old?
Hello Mahdi, you are 42 years old?