### integer

In [17]:
a = 25 
b = 145
c = -45
d = 12 

a, b, c, d

(25, 145, -45, 12)

In [18]:
e = a + b 
f = b - c 
g = a * d 
h = d / a 
i = a ** 3 

e, f, g, h, i

(170, 190, 300, 0.48, 15625)

### float

In [27]:
pi = 3.14 
x = 2.45
y = -43.55

print (x / y)
pi - (x / y)

-0.056257175660160745

3.1962571756601608

In [32]:
omid = 25 
ali = 3.2
a = 25
d = 12

print (omid * ali)
print (d / a)
omid / ali

80.0
0.48

7.8125

### strings

In [34]:
name = "sabah"
x = 'test1245!$^_=' 

name, x

('sabah', 'test1245!$^_=')

In [4]:
s = 'a\'b\'c'
z = "a'b'c"

# print
s, z

("a'b'c", "a'b'c")